extends layout

block content

  h1= title

  p Welcome to #{title}

  div.row
    div.col-xs-1
      p
        a.btn.btn-success.ledon#11(type="button" href="#") On
        a.btn.btn-success.ledoff#11(type="button" href="#") Off
      p
        a.btn.btn-warning.ledon#18(type="button" href="#") On
        a.btn.btn-warning.ledoff#18(type="button" href="#") Off
      p
        a.btn.btn-danger.ledon#16(type="button" href="#") On
        a.btn.btn-danger.ledof#16(type="button" href="#") Off


    script(src="/javascripts/ajaxcall.js")